*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(102, 102, 102);
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: bold;
   

}

header{
    background: black;
    color: rgb(48, 121, 184);
    text-shadow: 3px 5px 2px black;
    
}

